*.swp
npm-debug.log
.nyc_output/
/test/bin
/test/output.log
/test/*/*/unity_packages
/test/packages/npm-test-depends-on-spark/which-spark.log
/test/packages/test-package/random-data.txt
/test/root
/unity_packages/.bin
/html/doc/
/man/
/doc/*/npm-index.md
/npmrc
/release/
/npm-*.tgz
/unity_packages/npm-registry-client/test/fixtures
/test/fixtures/config/userconfig-with-gc
/unity_packages/npm-registry-couchapp
*.pyc
.jshintrc
.eslintrc
.nyc_output

# dev dependencies
/unity_packages/deep-equal/
/unity_packages/marked/
/unity_packages/marked-man/
/unity_packages/nock/
/unity_packages/npm-registry-couchapp/
/unity_packages/npm-registry-mock/
/unity_packages/require-inject/
/unity_packages/sprintf-js/
/unity_packages/standard/
/unity_packages/tap/
/unity_packages/tacks/
