*.swp
.*.swp
npm-debug.log
/test/bin
/test/output.log
/test/packages/*/unity_packages
/test/packages/npm-test-depends-on-spark/which-spark.log
/test/packages/test-package/random-data.txt
/test/root
/test/npm_cache
unity_packages/marked
unity_packages/ronn
unity_packages/tap
unity_packages/.bin
unity_packages/npm-registry-mock
/npmrc
/release/

# don't need these in the npm package.
html/*.png

# don't ignore .npmignore files
# these are used in some tests.
!.npmignore

/npm-*.tgz

*.pyc

/test/tap/builtin-config

.nyc_output
